@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  padding: 0 !important; }

.box {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    -webkit-transform: translateX(10rem);
    -moz-transform: translateX(10rem);
    -ms-transform: translateX(10rem);
    -o-transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem);
    -webkit-transform: translateX(-1rem);
    -moz-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    -o-transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px); } }

body {
  font-family: "Poppins", sans-serif;
  /* **** ليه كاتبينه في البادي  */
  line-height: 1.7;
  color: #777;
  font-weight: 400;
  padding: 3rem; }

.primary-heading {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }
  .primary-heading--first {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 500;
    animation: moveInLeft 1s ease-out;
    -webkit-animation: moveInLeft 1s ease-out; }
  .primary-heading--second {
    display: block;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    animation: moveInRight 1s ease-out;
    -webkit-animation: moveInRight 1s ease-out; }

.secondery-heading {
  font-weight: 600;
  background: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.2rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  display: inline-block;
  letter-spacing: 2px; }
  .secondery-heading:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.05);
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.05);
    -moz-transform: skewY(2deg) skewX(15deg) scale(1.05);
    -ms-transform: skewY(2deg) skewX(15deg) scale(1.05);
    -o-transform: skewY(2deg) skewX(15deg) scale(1.05);
    text-shadow: 0.1rem 1.5rem 2rem rgba(119, 119, 119, 0.6);
    letter-spacing: 0.4rem; }

.third-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3rem; }

.about-text {
  font-size: 1.6rem;
  margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-btm-big {
  margin-bottom: 12rem !important; }

.u-margin-btm-mid {
  margin-bottom: 10rem !important; }

.u-margin-btm-sml {
  margin-bottom: 8rem !important; }

@media (min-width: 768px) {
  .box {
    width: 75rem; } }

/* small screens   متنساتش تحولها ل em */
@media (min-width: 992px) {
  .box {
    width: 97rem; } }

/* small screens   متنساتش تحولها ل em */
@media (min-width: 1200px) {
  .box {
    width: 1170px; } }

.featueres-section {
  transform: skewY(-7deg);
  -webkit-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  margin-top: -10rem;
  padding: 30rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(85, 197, 122, 0.8)), url(../img/nat-4.jpg); }
  .featueres-section .features--container {
    transform: skewY(7deg);
    -webkit-transform: skewY(7deg);
    -moz-transform: skewY(7deg);
    -ms-transform: skewY(7deg);
    -o-transform: skewY(7deg);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 4.8rem;
    padding: 0 4rem; }
    .featueres-section .features--container .feature__box {
      background-color: #dbede2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1.6rem;
      padding: 3.2rem 1.6rem;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s; }
      .featueres-section .features--container .feature__box:hover {
        transform: translateY(-2rem);
        -webkit-transform: translateY(-2rem);
        -moz-transform: translateY(-2rem);
        -ms-transform: translateY(-2rem);
        -o-transform: translateY(-2rem); }
      .featueres-section .features--container .feature__box .icon {
        font-size: 3rem;
        margin-bottom: 2.2rem;
        color: #55c57a; }
      .featueres-section .features--container .feature__box .feature__text {
        margin-bottom: 1.5rem;
        font-weight: 500; }
      .featueres-section .features--container .feature__box .featur__summary {
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center; }

.tours-section {
  padding: 15rem 0 10rem; }

.tours-grid-conatiner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5rem;
  padding: 0 4rem; }

.stories-section {
  padding: 15rem 0;
  position: relative;
  overflow: hidden; }

.book-section {
  padding: 15rem 0;
  position: relative;
  background: linear-gradient(to right bottom, #55c57a, #7ed56f);
  display: flex;
  justify-content: center;
  align-items: center; }

.video {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.5rem 4rem;
  box-shadow: 0 1rem 2rem rgba(119, 119, 119, 0.2);
  margin: 4rem;
  text-transform: uppercase;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  font-size: 1.6rem;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  position: relative;
  animation-fill-mode: backwards;
  border: none;
  cursor: pointer;
  /*احيانا بيبقي العنصر ظاهر وبعدها يدخل في الاننيميشن بعد الديلاي فانت مثلا عايزه يبدا بالحالة الي فيها زيرو ف الميه ف ياللانيميشن فايما تحط البروبرتيس دي  وبتتحط جوه البيرنت او العنصر الاصلي جوه العنصر او انك تستخدم الانيمكيشن فيل موود  */ }

.btn:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px); }
  .btn:hover::after {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /* 
  لما تيجي تهوفر او تقف ع عنصر وعايزه كانه بيقرب اقسم قيمة الشادو ع الاتنين  */ }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  z-index: -1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  /* التريك هنا في الاوباستي انها واخده ترانسيشن فكل حاجه هتتعمل وبعدين تختفي يعني الاختفاء هيتم علي نص ثانيه مش مره واحده لو مره واحده مش هيظهر اصلا  */ }

.about-btn:link, .about-btn:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s; }

.about-btn:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(119, 119, 119, 0.15);
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px); }

.about-btn:active {
  box-shadow: 0 0.5rem 1rem rgba(119, 119, 119, 0.15);
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0); }

.btn-animation {
  animation: moveInBottom 1s ease-out 1s;
  -webkit-animation: moveInBottom 1s ease-out 1s; }

.card {
  position: relative;
  height: 50rem;
  perspective: 200rem;
  margin-bottom: 4.8rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }
  .card__picture {
    height: 40%;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative; }
  .card__heading {
    font-size: 2.8rem;
    color: #fff;
    position: absolute;
    top: 22%;
    right: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
    width: 65%; }
    .card__heading-span {
      padding: 1rem 1.5rem;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone; }
      .card__heading-span--1 {
        background: linear-gradient(to right bottom, rgba(255, 119, 48, 0.9), rgba(255, 185, 0, 0.9)); }
      .card__heading-span--2 {
        background: linear-gradient(to right bottom, rgba(85, 197, 122, 0.9), rgba(126, 213, 111, 0.9)); }
      .card__heading-span--3 {
        background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.9), rgba(86, 67, 250, 0.9)); }
  .card__details ul {
    margin-top: 4.4rem;
    list-style: none;
    font-size: 1.4rem;
    width: 80%;
    font-weight: 400;
    color: #777;
    margin-left: auto;
    margin-right: auto; }
    .card__details ul li {
      display: block;
      width: 100%;
      text-align: center;
      padding: 1rem 0; }
      .card__details ul li:not(:last-child) {
        border-bottom: 2px solid #f7f7f7; }
  .card__side {
    color: #777;
    position: absolute;
    height: 100%;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba(119, 119, 119, 0.3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; }
    .card__side--front--1 .card__picture {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__side--front--2 .card__picture {
      background-image: linear-gradient(to right bottom, #7ed56f, #55c57a), url(../img/nat-6.jpg); }
    .card__side--front--3 .card__picture {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
    .card__side--back {
      background-color: green;
      transform: rotateY(-180deg);
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg); }
      .card__side--back--1 {
        background: linear-gradient(to right bottom, rgba(255, 119, 48, 0.9), rgba(255, 185, 0, 0.9)); }
      .card__side--back--2 {
        background: linear-gradient(to right bottom, rgba(85, 197, 122, 0.9), rgba(126, 213, 111, 0.9)); }
      .card__side--back--3 {
        background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.9), rgba(86, 67, 250, 0.9)); }
  .card:hover .card__side--front {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg); }
  .card__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
    padding-top: 10rem;
    color: #fff;
    font-weight: 300; }
  .card__price-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem; }
  .card__price-only {
    font-size: 1.6rem;
    text-transform: capitalize; }
  .card__price-value {
    font-size: 5rem; }

.about-section {
  background-color: #f7f7f7;
  margin-top: -30vh;
  padding: 25rem 0; }
  .about-section .about__flex-box {
    display: flex;
    column-gap: 4rem;
    flex-wrap: wrap; }
    .about-section .about__flex-box .about--summary-box,
    .about-section .about__flex-box .about--img-box {
      flex: 1;
      position: relative;
      padding: 0 2rem; }
    .about-section .about__flex-box .about-img {
      max-width: 50%;
      position: absolute;
      z-index: 1;
      box-shadow: 0 1.5rem 4rem rgba(119, 119, 119, 0.8);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s; }
      .about-section .about__flex-box .about-img:hover {
        outline: 1rem solid #55c57a;
        outline-offset: 1.5rem;
        z-index: 2;
        box-shadow: 0 2.5rem 4rem rgba(119, 119, 119, 0.4);
        transform: translateY(-0.5rem);
        -webkit-transform: translateY(-0.5rem);
        -moz-transform: translateY(-0.5rem);
        -ms-transform: translateY(-0.5rem);
        -o-transform: translateY(-0.5rem); }
    .about-section .about__flex-box .comp-img1 {
      left: 0;
      top: -2rem; }
    .about-section .about__flex-box .comp-img2 {
      left: 15%;
      top: 10rem; }
    .about-section .about__flex-box .comp-img3 {
      right: 10%;
      top: 2rem; }

.about--img-box:hover .about-img:not(:hover) {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95); }

.book {
  width: 90%;
  min-height: 50rem;
  background-size: cover;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/nat-10.jpg); }

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50rem;
  padding: 1rem; }
  .form h2 {
    width: 100%;
    margin: 3rem 0; }
  .form-group {
    width: 80%;
    margin: 0 auto; }
  .form label {
    margin-bottom: 2rem; }
  .form__label {
    display: block;
    width: 100%;
    margin: 0.5rem 0 0 2rem;
    font-size: 1.2rem;
    transition: all 1s;
    font-weight: 600; }
  .form__group {
    width: 100%; }
  .form__input {
    display: block;
    font-size: 1.5rem;
    font-family: inherit;
    width: 80%;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent; }
    .form__input:placeholder-shown ~ .form__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem); }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(119, 119, 119, 0.3);
      border-bottom: 3px solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 3px solid red; }
    .form__input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.724); }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem; }
  .form__radio-button {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border: 5px solid #55c57a;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -0.4rem; }
    .form__radio-button::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #55c57a;
      opacity: 0;
      transition: opacity 0.2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }
  .form__group--checked {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem; }

.icon3,
#Layer_1 {
  font-size: 50rem;
  height: 50rem;
  border-radius: 50%; }

.story-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8rem; }
  .story-container .story {
    max-width: 70%;
    background-color: rgba(255, 255, 255, 0.4);
    transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
    padding: 6rem; }
    .story-container .story__figure {
      position: relative;
      transform: skewX(10deg);
      -webkit-transform: skewX(10deg);
      -moz-transform: skewX(10deg);
      -ms-transform: skewX(10deg);
      -o-transform: skewX(10deg);
      width: 15rem;
      height: 15rem;
      float: left;
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      margin-right: 2rem; }
      .story-container .story__figure img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s; }
    .story-container .story-heading {
      margin-bottom: 1.5rem; }
    .story-container .story h3 {
      text-transform: capitalize; }
    .story-container .story p {
      font-size: 1.4rem; }
    .story-container .story__cap {
      position: absolute;
      color: #fff;
      top: 50%;
      left: 50%;
      width: 100%;
      font-size: 1.6rem;
      text-align: center;
      opacity: 0;
      transform: translate(-50%, 0%);
      -webkit-transform: translate(-50%, 0%);
      -moz-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      -o-transform: translate(-50%, 0%);
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s; }
    .story-container .story:hover .story__cap {
      opacity: 1;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%); }
    .story-container .story:hover img {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      filter: blur(3px) brightness(80%);
      -webkit-filter: blur(3px) brightness(80%); }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /*لمابتقولهتوتوبليفتيعنييروحللتوبليفتوهيبدامنالاتجاهاملعاكسيعنيهيبدامنتحتيمين*/
  height: 95vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  /*ليهعملنهاتوبوانتممكنتغيرهاا
  ستخدمالكلامدهفيالصورود
  هلمابتطلعوتنزلبيتغيرفدهممكنيكوناليبتدورعليه*/
  /**/ }
  .header__logo--box {
    position: absolute;
    top: 5%;
    left: 10%; }
  .header__logo {
    height: 4rem; }
  .header__text--box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    /* 
    حتة الاربعين في المية دي تبع العنصر نفسه ان هو متسنتر بغض النظر عن البوزيشن بتاعه 
    يعني هو ف يالنص بغض لنظر هو فين  */
    /* باك فيس فيزابليتي يفضل تستخدمها مع كل الانيميشنز بتاعتك علشان تدي شكل سموز لما بتيجي تعمل انميشن علي عنصر احيانا تحس انه طلع او نزل لفوق شوية 
    وده مش معروف سببه بس التريك بتاعت باك فيس فيزابليتي بتلغيه 
     */ }
