$green: #55c57a;
$lightGreen: #7ed56f;
$darkGreen: #28b485;
$white: #fff;
$black: #777;
$aboutGrey: #f7f7f7;

$lightOrange: #ffb900;
$orange: #ff7730;

$blue: #2998ff;
$purple: #5643fa;

$default-font-size: 1.6rem;
